{% extends "blog/base.html" %}

{% block content %}
<p><img style="width: 246px; height: 229px; float: right;" alt="PRA booth" src="http://rovingarchers.com/images/wpra_meeting.jpg">Pasadena
    Roving Archers has been "dedicated to the art of the
    bow and arrow in the Lower Arroyo Seco since 1935." Incorporated
    as a non-profit organization, our membership includes men,
    women, young adults and children. PRA is home to beginners,
    weekend enthusiasts, regional, state, nation and international
    champions and maybe a future Olympic Gold medal winner. All
    are bound together by the sport of archery. The club invites
    membership from everyone in the archery community.</p>
<p> The range is located in the historic Arroyo Seco in the
    City of Pasadena, California. The Arroyo, as it is known,
    is a natural valley carved by the waters flowing from the
    San Gabriel mountains. It's most famous occupant is the Rose
    Bowl stadium, host to the "Grandaddy of them all"
    - the Rose Bowl Game on New Year's Day. Archery in the Arroyo
    Seco has a long history with organized competition starting
    in the early thirties. Pasadena Roving Archers has been a
    part of that history and is charged with the responsibility
    of maintaining and operation the range.</p>
<p> PRA members provide hundreds of hours of volunteer service
    to maintain the range facilities and provide archery instruction
    to archers from 8 to 80+. All of the PRA archery instructors
    have been certified by the National Archery Association. They
    have taken courses and passed tests on range safety and archery
    coaching techniques. Archery classes at the PRA range are
    a great way to get started in archery, learn new skills, meet
    great people and participate in friendly competition.</p>
<p> PRA has been the recipient of a grant from the Los Angeles Athletic
    Foundation to support our educational efforts for youth archery.
    The primary funding for the club&rsquo;s activities are through
    member dues, shooting fees and donations.<br>
</p>
<p>The Pasadena Roving Archers is a 501(c)(3) public charity.</p>
{% endblock %}