{% extends "blog/base.html" %}

{% block content %}
<div>
    <table class="pure-table pure-table-horizontal" style="width:70%">
        <thead>
        <tr>
            <td>Class</td>
            <td>Participants</td>
            <td>Time</td>
            <td>Location</td>
            <td>Cost</td>
        </tr>
        </thead>
        <tbody>
        {% for c in classes %}
        <tr>
            <td>{{ c.class_title }}</td>
            <td>{{ c.target_participants }}</td>
            <td>{{ c.time_desc }}</td>
            <td>{{ c.location }}</td>
            <td>{{ c.cost }}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}